/*
The default style sheet for this site.
*/

/*The following rule resets the browser's own internal CSS stylesheet before reading the rest of the file. Note this approach has been deprecated. It's useful for very simple sites in progress, but for productiuon sites, link to the reset.css file instead.*/
/*

*{
    margin:0;
    padding:0;
}
*/

body {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 100%;
    margin: 0 auto;
    width: 900px;

}

header {
    background-color: #E6E6E6;
}


nav {
    background-color: #D9853B;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-top: 10px;

    /*
    margin-top: -25px;
    margin-bottom: -25px;
*/
}

li {
    list-style-type: none;
}


.nav-links:link {
    color: #FFF;
    text-decoration: none;

}

.nav-links:visited {
    color: #0080FF;
    text-decoration: none;
}

.nav-links:hover {
    color: lightblue;
}

.current-page {
    font-size: 1.4em;
    font-weight: bold;
}

article {
    background-color: #ECECEA;
    padding-bottom: 20px;
}

.reference-image {
    left: 150px;
    padding: 10px 10px 15px 0;
    position: relative;
}

h1 {
    background-color: #558C89;
    background-image: url(../img/sky-1-opt.jpg);
    color: #FFF;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 2.1875em;
    padding: 75px 25px 25px 15px;
}

h2 {
    background-color: #558C89;
    color: #FFF;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.75em;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-top: 20px;
}

h3 {
    background-color: #74AFAD;
    color: #FFF;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.5em;
    font-style: oblique;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-top: 15px;

}

p {
    color: #4C4C4C;
    font-size: .9375em;
    padding: 20px;
    padding-left: 40px;
}

footer {
    text-align: center;
}
